<div class="row" style="margin-top: 10%">
  <div class="col-lg-8 col-lg-offset-3">
    <%= form_for [:admin, @article] do |f| %>
      <div class="form-group">
        <%= f.label "title", class: "col-sm-3 control-label no-padding-right", for: "form-field-1" %><br>
        <div class="row">
          <div class="col-sm-9">
            <%= f.text_field :title, id: "form-field-1", class: "col-xs-10 col-sm-5 col-lg-12", placeholder: "文章名" %>
          </div>
        </div>
      </div>
      <div class="space-4"></div>
      <div class="form-group">
        <%= f.label "author", class: "col-sm-3 control-label no-padding-right", for: "form-field-2" %><br>
        <div class="row">
          <div class="col-sm-9">
            <%= f.text_field :author, id: "form-field-2", class: "col-xs-10 col-sm-5 col-lg-12", placeholder: "作者" %>
          </div>
        </div>
      </div>
      <div class="space-4"></div>
      <div class="form-group">
        <%= f.label "category", class: "col-sm-3 control-label no-padding-right", for: "form-field-2" %><br>
        <div class="row">
          <div class="col-sm-9">
            <%= f.select :category_id, Category.pluck(:title, :id), id: "form-field-3", class: "col-xs-10 col-sm-5 col-lg-12", placeholder: "作者" %>
          </div>
        </div>
      </div>
      <div class="space-4"></div>
      <div class="form-group">
        <%= f.label "content", class: "col-sm-3 control-label no-padding-right", for: "form-field-2" %><br>
        <div class="row">
          <div class="col-sm-9">
            <%#= f.text_area :content, id: "form-field-4", class: "col-xs-10 col-sm-5 col-lg-12", placeholder: "内容" %>
            <%= render "layouts/editer" do %>
              <%= f.text_area :content, class: "wysiwyg-editor", id: "editor1", placeholder: "内容", size: "80%" %>

              <!--                <textarea class="wysiwyg-editor" id="editor1" placeholder="内容" name="article[content]" style="width: 99%"></textarea>-->

            <% end %>
          </div>
        </div>
      </div>
      <div class="space-4"></div>
      <div class="form-group">
        <div class="col-lg-9">
          <div class="clearfix form-actions">
            <div class="col-md-offset-4 col-md-5">
              <%= f.submit "submit", class: "btn btn-info" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<hr>

